body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  
}

.canvas.summer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image:url('bg_summer.png');
  background-repeat:repeat;
  background-size:cover;

  -webkit-transition: background-image 2s ease-out;
  -moz-transition: background-image 2s ease-out;
  -o-transition: background-image 2s ease-out;
  transition: background-image 2s ease-out;
}

.canvas.spring {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image:url('bg_spring.jpg');
  background-repeat:repeat;
  background-size:cover;

  -webkit-transition: background-image 2s ease-out;
  -moz-transition: background-image 2s ease-out;
  -o-transition: background-image 2s ease-out;
  transition: background-image 2s ease-out;
}

.canvas.fall {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image:url('bg_fall.jpg');
  background-repeat:repeat;
  background-size:cover;

  -webkit-transition: background-image 2s ease-out;
  -moz-transition: background-image 2s ease-out;
  -o-transition: background-image 2s ease-out;
  transition: background-image 2s ease-out;
}

.canvas.winter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image:url('bg_winter.jpg');
  background-repeat:repeat;
  background-size:cover;

  -webkit-transition: background-image 2s ease-out;
  -moz-transition: background-image 2s ease-out;
  -o-transition: background-image 2s ease-out;
  transition: background-image 2s ease-out;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  background-color: rgb(41, 42, 43);
  padding: 10px;
  width: 318px;
  height: 400px;

  margin: 0 auto 0 auto;

  -webkit-box-shadow: 18px 22px 41px 2px rgba(0,0,0,0.63);
  -moz-box-shadow: 18px 22px 41px 2px rgba(0,0,0,0.63);
  box-shadow: 18px 22px 41px 2px rgba(0,0,0,0.63);
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 30px;
}

.grid-container > div.item1 {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: whitesmoke;
}

.grid-container > div.nav {
  grid-column-start: 1;
  grid-column-end: 5;
}

button {
  height: 100%;
  width: 100%;
}

.MuiButton-root-1 {
  font-size: 1.875rem !important;
}

.MuiInput-root-1 {
  height: 100%;
  width: 90%;
}

.MuiInput-input-9 {
  font-size: 1.5rem !important;
}
.SimpleBottomNavigation-root-48 {
  width: 99% !important;
  height: 91% !important;
  margin-top: 6px;
}